# NBA data since 1947

Source: https://www.kaggle.com/datasets/sumitrodatta/nba-aba-baa-stats/

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

advanced = pd.read_csv("Advanced.csv")
allstar = pd.read_csv("All-Star Selections.csv")
end_of_season_votes = pd.read_csv("End of Season Teams (Voting).csv")
end_of_season = pd.read_csv("End of Season Teams.csv")
opp_stats_per_100_poss = pd.read_csv("Opponent Stats Per 100 Poss.csv")
opp_stats_per_game = pd.read_csv("Opponent Stats Per Game.csv")
opp_totals = pd.read_csv("Opponent Totals.csv")
per_36_mins = pd.read_csv("Per 36 Minutes.csv")
per_100_pos = pd.read_csv("Per 100 Poss.csv")
player_awards = pd.read_csv("Player Award Shares.csv")
player_careers = pd.read_csv("Player Career Info.csv")
player_per_game = pd.read_csv("Player Per Game.csv")
player_play_by_play = pd.read_csv("Player Play By Play.csv")
player_seasons = pd.read_csv("Player Season Info.csv")
player_shooting = pd.read_csv("Player Shooting.csv")
player_totals = pd.read_csv("Player Totals.csv")
team_abbreviations = pd.read_csv("Team Abbrev.csv")
team_stats_per_100_poss = pd.read_csv("Team Stats Per 100 Poss.csv")
team_stats_per_game = pd.read_csv("Team Stats Per Game.csv")
team_summaries = pd.read_csv("Team Summaries.csv")
team_totals = pd.read_csv("Team Totals.csv")

## Advanced

In [8]:
advanced.head()

,seas_id,season,player_id,player,birth_year,pos,age,experience,lg,tm,...,tov_percent,usg_percent,ows,dws,ws,ws_48,obpm,dbpm,bpm,vorp
0,31136,2024,5025,A.J. Green,NaN,SG,24.0,2,NBA,MIL,...,0.0,12.8,0.0,0.0,0.0,0.064,-3.2,-3.1,-6.3,0.0
1,31137,2024,5027,AJ Griffin,NaN,SF,20.0,2,NBA,ATL,...,16.7,14.8,0.1,0.0,0.1,0.135,5.5,-2.0,3.5,0.0
2,31138,2024,4219,Aaron Gordon,NaN,PF,28.0,10,NBA,DEN,...,10.1,17.9,0.3,0.2,0.5,0.189,0.8,1.2,2.0,0.1
3,31139,2024,4582,Aaron Holiday,NaN,PG,27.0,6,NBA,HOU,...,0.0,26.5,-0.1,0.0,-0.1,-0.702,-21.4,-12.7,-34.1,0.0
4,31140,2024,4805,Aaron Nesmith,NaN,SF,24.0,4,NBA,IND,...,3.5,14.6,0.3,0.1,0.3,0.188,1.3,-1.8,-0.5,0.0

## All-Star Selections

In [9]:
allstar.head()

                    player     team   lg  season  replaced
0              Bam Adebayo  Giannis  NBA    2023     False
1    Giannis Antetokounmpo  Giannis  NBA    2023     False
2            DeMar DeRozan  Giannis  NBA    2023     False
3             Kevin Durant  Giannis  NBA    2023     False
4  Shai Gilgeous-Alexander  Giannis  NBA    2023     False

## End of Season Teams (Voting)

In [10]:
end_of_season_votes.head()

,season,lg,type,number_tm,position,player,age,tm,pts_won,pts_max,share,x1st_tm,x2nd_tm,x3rd_tm,seas_id,player_id
0,2022,NBA,All-NBA,1T,F,Giannis Antetokounmpo,27.0,MIL,500.0,500.0,1.000,100.0,0.0,0.0,29918,4164
1,2022,NBA,All-NBA,1T,C,Nikola Jokić,26.0,DEN,476.0,500.0,0.952,88.0,12.0,0.0,30247,4352
2,2022,NBA,All-NBA,1T,G,Luka Dončić,22.0,DAL,476.0,500.0,0.952,88.0,12.0,0.0,30158,4654
3,2022,NBA,All-NBA,1T,G,Devin Booker,25.0,PHO,460.0,500.0,0.920,82.0,16.0,2.0,29850,4321
4,2022,NBA,All-NBA,1T,F,Jayson Tatum,23.0,BOS,390.0,500.0,0.780,49.0,47.0,4.0,30010,4518

## End of Season Teams

In [11]:
end_of_season.head()

,season,lg,type,number_tm,player,position,seas_id,player_id,birth_year,tm,age
0,2022,NBA,All-Defense,1st,Giannis Antetokounmpo,NaN,29918,4164,NaN,MIL,27
1,2022,NBA,All-Defense,1st,Jaren Jackson Jr.,NaN,29991,4632,NaN,MEM,22
2,2022,NBA,All-Defense,1st,Marcus Smart,NaN,30183,4275,NaN,BOS,27
3,2022,NBA,All-Defense,1st,Mikal Bridges,NaN,30205,4658,NaN,PHO,25
4,2022,NBA,All-Defense,1st,Rudy Gobert,NaN,30313,4199,NaN,UTA,29

## Opponent Stats Per 100 Poss

In [12]:
opp_stats_per_100_poss.head()

,season,lg,team,abbreviation,playoffs,g,mp,opp_fg_per_100_poss,opp_fga_per_100_poss,opp_fg_percent,...,opp_ft_percent,opp_orb_per_100_poss,opp_drb_per_100_poss,opp_trb_per_100_poss,opp_ast_per_100_poss,opp_stl_per_100_poss,opp_blk_per_100_poss,opp_tov_per_100_poss,opp_pf_per_100_poss,opp_pts_per_100_poss
0,2024,NBA,Atlanta Hawks,ATL,False,4,960,41.3,86.1,0.480,...,0.719,11.3,31.1,42.3,26.9,7.1,4.2,17.6,19.8,113.8
1,2024,NBA,Boston Celtics,BOS,False,3,720,38.0,91.9,0.414,...,0.680,13.1,31.3,44.4,24.9,9.8,3.4,12.8,17.2,108.3
2,2024,NBA,Brooklyn Nets,BRK,False,3,720,44.5,92.6,0.480,...,0.862,8.2,30.3,38.6,25.7,7.6,4.3,9.6,20.1,118.7
3,2024,NBA,Chicago Bulls,CHI,False,4,985,40.9,84.2,0.485,...,0.773,9.7,38.9,48.6,27.3,5.5,3.7,18.1,22.3,111.5
4,2024,NBA,Charlotte Hornets,CHO,False,3,720,40.7,85.1,0.478,...,0.789,10.8,34.0,44.8,24.5,7.3,4.8,15.9,21.3,112.4

## Opponent Stats Per Game

In [13]:
opp_stats_per_game.head()

,season,lg,team,abbreviation,playoffs,g,mp_per_game,opp_fg_per_game,opp_fga_per_game,opp_fg_percent,...,opp_ft_percent,opp_orb_per_game,opp_drb_per_game,opp_trb_per_game,opp_ast_per_game,opp_stl_per_game,opp_blk_per_game,opp_tov_per_game,opp_pf_per_game,opp_pts_per_game
0,2024,NBA,Atlanta Hawks,ATL,False,4.0,240.0,42.3,88.0,0.480,...,0.719,11.5,31.8,43.3,27.5,7.3,4.3,18.0,20.3,116.3
1,2024,NBA,Boston Celtics,BOS,False,3.0,240.0,37.7,91.0,0.414,...,0.680,13.0,31.0,44.0,24.7,9.7,3.3,12.7,17.0,107.3
2,2024,NBA,Brooklyn Nets,BRK,False,3.0,240.0,45.0,93.7,0.480,...,0.862,8.3,30.7,39.0,26.0,7.7,4.3,9.7,20.3,120.0
3,2024,NBA,Chicago Bulls,CHI,False,4.0,246.3,41.3,85.0,0.485,...,0.773,9.8,39.3,49.0,27.5,5.5,3.8,18.3,22.5,112.5
4,2024,NBA,Charlotte Hornets,CHO,False,3.0,240.0,42.7,89.3,0.478,...,0.789,11.3,35.7,47.0,25.7,7.7,5.0,16.7,22.3,118.0

## Opponent Totals

In [14]:
opp_totals.head()

,season,lg,team,abbreviation,playoffs,g,mp,opp_fg,opp_fga,opp_fg_percent,...,opp_ft_percent,opp_orb,opp_drb,opp_trb,opp_ast,opp_stl,opp_blk,opp_tov,opp_pf,opp_pts
0,2024,NBA,Atlanta Hawks,ATL,False,4.0,960.0,169.0,352.0,0.480,...,0.719,46.0,127.0,173.0,110.0,29.0,17.0,72.0,81.0,465.0
1,2024,NBA,Boston Celtics,BOS,False,3.0,720.0,113.0,273.0,0.414,...,0.680,39.0,93.0,132.0,74.0,29.0,10.0,38.0,51.0,322.0
2,2024,NBA,Brooklyn Nets,BRK,False,3.0,720.0,135.0,281.0,0.480,...,0.862,25.0,92.0,117.0,78.0,23.0,13.0,29.0,61.0,360.0
3,2024,NBA,Chicago Bulls,CHI,False,4.0,985.0,165.0,340.0,0.485,...,0.773,39.0,157.0,196.0,110.0,22.0,15.0,73.0,90.0,450.0
4,2024,NBA,Charlotte Hornets,CHO,False,3.0,720.0,128.0,268.0,0.478,...,0.789,34.0,107.0,141.0,77.0,23.0,15.0,50.0,67.0,354.0

## Per 36 Minutes

In [15]:
per_36_mins.head()

,seas_id,season,player_id,player,birth_year,pos,age,experience,lg,tm,...,ft_percent,orb_per_36_min,drb_per_36_min,trb_per_36_min,ast_per_36_min,stl_per_36_min,blk_per_36_min,tov_per_36_min,pf_per_36_min,pts_per_36_min
0,31136,2024,5025,A.J. Green,NaN,SG,24.0,2,NBA,MIL,...,1.000,0.0,1.7,1.7,3.4,0.0,0.0,0.0,5.1,12.0
1,31137,2024,5027,AJ Griffin,NaN,SF,20.0,2,NBA,ATL,...,NaN,1.1,4.2,5.3,2.1,1.1,0.0,2.1,1.1,18.0
2,31138,2024,4219,Aaron Gordon,NaN,PF,28.0,10,NBA,DEN,...,0.250,2.1,3.5,5.6,3.5,1.8,1.5,1.5,1.8,16.2
3,31139,2024,4582,Aaron Holiday,NaN,PG,27.0,6,NBA,HOU,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,31140,2024,4805,Aaron Nesmith,NaN,SF,24.0,4,NBA,IND,...,0.833,2.3,5.9,8.1,1.8,0.0,1.4,0.5,4.5,17.1

## Per 100 Poss

In [16]:
per_100_pos.head()

,seas_id,season,player_id,player,birth_year,pos,age,experience,lg,tm,...,drb_per_100_poss,trb_per_100_poss,ast_per_100_poss,stl_per_100_poss,blk_per_100_poss,tov_per_100_poss,pf_per_100_poss,pts_per_100_poss,o_rtg,d_rtg
0,31136,2024,5025,A.J. Green,NaN,SG,24,2,NBA,MIL,...,2.2,2.2,4.5,0.0,0.0,0.0,6.7,15.6,127.0,124.0
1,31137,2024,5027,AJ Griffin,NaN,SF,20,2,NBA,ATL,...,5.5,6.9,2.8,1.4,0.0,2.8,1.4,23.5,133.0,117.0
2,31138,2024,4219,Aaron Gordon,NaN,PF,28,10,NBA,DEN,...,4.8,7.6,4.8,2.4,2.0,2.0,2.4,22.0,121.0,103.0
3,31139,2024,4582,Aaron Holiday,NaN,PG,27,6,NBA,HOU,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,125.0
4,31140,2024,4805,Aaron Nesmith,NaN,SF,24,4,NBA,IND,...,7.6,10.5,2.3,0.0,1.7,0.6,5.8,22.1,141.0,113.0

## Player Award Shares

In [17]:
player_awards.head()

,season,award,player,age,tm,first,pts_won,pts_max,share,winner,seas_id,player_id
0,2023,dpoy,Jaren Jackson Jr.,23,MEM,56.0,391.0,500.0,0.782,True,30733,4632
1,2023,dpoy,Brook Lopez,34,MIL,31.0,309.0,500.0,0.618,False,30508,3801
2,2023,dpoy,Evan Mobley,21,CLE,8.0,101.0,500.0,0.202,False,30640,4931
3,2023,dpoy,Draymond Green,32,GSW,3.0,34.0,500.0,0.068,False,30622,4085
4,2023,dpoy,Bam Adebayo,25,MIA,1.0,18.0,500.0,0.036,False,30489,4472

## Player Career Info

In [18]:
player_careers.head()

,player_id,player,birth_year,hof,num_seasons,first_seas,last_seas
0,1,Al Brightman,NaN,False,1,1947,1947
1,2,Al Lujack,NaN,False,1,1947,1947
2,3,Al Negratti,NaN,False,1,1947,1947
3,4,Angelo Musi,NaN,False,3,1947,1949
4,5,Ariel Maughan,1923.0,False,5,1947,1951


## Player Per Game

In [19]:
player_per_game.head()

,seas_id,season,player_id,player,birth_year,pos,age,experience,lg,tm,...,ft_percent,orb_per_game,drb_per_game,trb_per_game,ast_per_game,stl_per_game,blk_per_game,tov_per_game,pf_per_game,pts_per_game
0,31136,2024,5025,A.J. Green,NaN,SG,24.0,2,NBA,MIL,...,1.000,0.0,0.5,0.5,1.0,0.0,0.0,0.0,1.5,3.5
1,31137,2024,5027,AJ Griffin,NaN,SF,20.0,2,NBA,ATL,...,NaN,0.3,1.0,1.3,0.5,0.3,0.0,0.5,0.3,4.3
2,31138,2024,4219,Aaron Gordon,NaN,PF,28.0,10,NBA,DEN,...,0.250,1.8,3.0,4.8,3.0,1.5,1.3,1.3,1.5,13.8
3,31139,2024,4582,Aaron Holiday,NaN,PG,27.0,6,NBA,HOU,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,31140,2024,4805,Aaron Nesmith,NaN,SF,24.0,4,NBA,IND,...,0.833,1.7,4.3,6.0,1.3,0.0,1.0,0.3,3.3,12.7

## Player Play By Play

In [20]:
player_play_by_play.head()

,seas_id,season,player_id,player,birth_year,pos,age,experience,lg,tm,...,net_plus_minus_per_100_poss,bad_pass_turnover,lost_ball_turnover,shooting_foul_committed,offensive_foul_committed,shooting_foul_drawn,offensive_foul_drawn,points_generated_by_assists,and1,fga_blocked
0,31136,2024,5025,A.J. Green,NaN,SG,24,2,NBA,MIL,...,49.1,0,0,0,0,0,1.0,5,0,0
1,31137,2024,5027,AJ Griffin,NaN,SF,20,2,NBA,ATL,...,-32.0,1,1,1,0,0,0.0,5,0,0
2,31138,2024,4219,Aaron Gordon,NaN,PF,28,10,NBA,DEN,...,5.2,1,1,2,2,4,1.0,28,2,3
3,31139,2024,4582,Aaron Holiday,NaN,PG,27,6,NBA,HOU,...,-63.5,0,0,0,0,0,0.0,0,0,1
4,31140,2024,4805,Aaron Nesmith,NaN,SF,24,4,NBA,IND,...,9.3,0,0,5,1,3,0.0,11,0,0

## Player Season Info

In [21]:
player_seasons.head()

,season,seas_id,player_id,player,birth_year,pos,age,lg,tm,experience
0,1947,1,1,Al Brightman,NaN,F,23.0,BAA,BOS,1
1,1947,2,2,Al Lujack,NaN,F,26.0,BAA,WSC,1
2,1947,3,3,Al Negratti,NaN,F-C,25.0,BAA,WSC,1
3,1947,4,4,Angelo Musi,NaN,G,28.0,BAA,PHW,1
4,1947,5,5,Ariel Maughan,1923.0,F,23.0,BAA,DTF,1

## Player Shooting

In [22]:
player_shooting.head()

,seas_id,season,player_id,player,birth_year,pos,age,experience,lg,tm,...,fg_percent_from_x16_3p_range,fg_percent_from_x3p_range,percent_assisted_x2p_fg,percent_assisted_x3p_fg,percent_dunks_of_fga,num_of_dunks,percent_corner_3s_of_3pa,corner_3_point_percent,num_heaves_attempted,num_heaves_made
0,31136,2024,5025,A.J. Green,NaN,SG,24,2,NBA,MIL,...,NaN,0.400,NaN,0.5,0.000,0,0.600,0.333,0,0
1,31137,2024,5027,AJ Griffin,NaN,SF,20,2,NBA,ATL,...,NaN,0.625,0.000,1.0,0.000,0,0.375,0.333,0,0
2,31138,2024,4219,Aaron Gordon,NaN,PF,28,10,NBA,DEN,...,NaN,0.250,0.600,0.0,0.268,11,0.500,0.000,0,0
3,31139,2024,4582,Aaron Holiday,NaN,PG,27,6,NBA,HOU,...,NaN,0.000,NaN,NaN,0.000,0,0.000,NaN,0,0
4,31140,2024,4805,Aaron Nesmith,NaN,SF,24,4,NBA,IND,...,NaN,0.438,0.833,1.0,0.080,1,0.375,0.667,0,0

## Player Totals

In [23]:
player_totals.head()

,seas_id,season,player_id,player,birth_year,pos,age,experience,lg,tm,...,ft_percent,orb,drb,trb,ast,stl,blk,tov,pf,pts
0,31136,2024,5025,A.J. Green,NaN,SG,24.0,2,NBA,MIL,...,1.000,0.0,1.0,1.0,2,0.0,0.0,0.0,3,7
1,31137,2024,5027,AJ Griffin,NaN,SF,20.0,2,NBA,ATL,...,NaN,1.0,4.0,5.0,2,1.0,0.0,2.0,1,17
2,31138,2024,4219,Aaron Gordon,NaN,PF,28.0,10,NBA,DEN,...,0.250,7.0,12.0,19.0,12,6.0,5.0,5.0,6,55
3,31139,2024,4582,Aaron Holiday,NaN,PG,27.0,6,NBA,HOU,...,NaN,0.0,0.0,0.0,0,0.0,0.0,0.0,0,0
4,31140,2024,4805,Aaron Nesmith,NaN,SF,24.0,4,NBA,IND,...,0.833,5.0,13.0,18.0,4,0.0,3.0,1.0,10,38

## Team Abbrev

In [24]:
team_abbreviations.head()

   season   lg               team  playoffs abbreviation
0    2024  NBA      Atlanta Hawks     False          ATL
1    2024  NBA     Boston Celtics     False          BOS
2    2024  NBA      Brooklyn Nets     False          BRK
3    2024  NBA  Charlotte Hornets     False          CHO
4    2024  NBA      Chicago Bulls     False          CHI

## Team Stats Per 100 Poss

In [25]:
team_stats_per_100_poss.head()

,season,lg,team,abbreviation,playoffs,g,mp,fg_per_100_poss,fga_per_100_poss,fg_percent,...,ft_percent,orb_per_100_poss,drb_per_100_poss,trb_per_100_poss,ast_per_100_poss,stl_per_100_poss,blk_per_100_poss,tov_per_100_poss,pf_per_100_poss,pts_per_100_poss
0,2024,NBA,Atlanta Hawks,ATL,False,4,960,43.1,87.8,0.490,...,0.835,9.3,31.8,41.1,27.4,9.8,3.9,13.2,16.6,118.4
1,2024,NBA,Boston Celtics,BOS,False,3,720,44.8,92.2,0.485,...,0.769,12.8,38.4,51.1,23.2,8.1,7.7,15.5,20.9,118.8
2,2024,NBA,Brooklyn Nets,BRK,False,3,720,44.8,86.7,0.517,...,0.765,10.9,36.3,47.1,28.0,4.9,5.9,15.8,20.8,120.7
3,2024,NBA,Chicago Bulls,CHI,False,4,985,38.4,92.4,0.416,...,0.806,12.4,29.7,42.1,19.6,9.4,4.7,12.6,18.6,104.6
4,2024,NBA,Charlotte Hornets,CHO,False,3,720,39.1,85.8,0.456,...,0.800,9.8,31.8,41.6,27.6,8.3,4.8,14.9,21.3,106.7

## Team Stats Per Game

In [26]:
team_stats_per_game.head()

,season,lg,team,abbreviation,playoffs,g,mp_per_game,fg_per_game,fga_per_game,fg_percent,...,ft_percent,orb_per_game,drb_per_game,trb_per_game,ast_per_game,stl_per_game,blk_per_game,tov_per_game,pf_per_game,pts_per_game
0,2024,NBA,Atlanta Hawks,ATL,False,4.0,240.0,44.0,89.8,0.490,...,0.835,9.5,32.5,42.0,28.0,10.0,4.0,13.5,17.0,121.0
1,2024,NBA,Boston Celtics,BOS,False,3.0,240.0,44.3,91.3,0.485,...,0.769,12.7,38.0,50.7,23.0,8.0,7.7,15.3,20.7,117.7
2,2024,NBA,Brooklyn Nets,BRK,False,3.0,240.0,45.3,87.7,0.517,...,0.765,11.0,36.7,47.7,28.3,5.0,6.0,16.0,21.0,122.0
3,2024,NBA,Chicago Bulls,CHI,False,4.0,246.3,38.8,93.3,0.416,...,0.806,12.5,30.0,42.5,19.8,9.5,4.8,12.8,18.8,105.5
4,2024,NBA,Charlotte Hornets,CHO,False,3.0,240.0,41.0,90.0,0.456,...,0.800,10.3,33.3,43.7,29.0,8.7,5.0,15.7,22.3,112.0

## Team Summaries

In [27]:
team_summaries.head()

,season,lg,team,abbreviation,playoffs,age,w,l,pw,pl,...,tov_percent,orb_percent,ft_fga,opp_e_fg_percent,opp_tov_percent,opp_drb_percent,opp_ft_fga,arena,attend,attend_g
0,2024,NBA,Atlanta Hawks,ATL,False,25.6,2.0,2.0,3.0,1.0,...,11.8,23.0,0.240,0.570,15.5,73.9,0.182,State Farm Arena,33196.0,16598.0
1,2024,NBA,Boston Celtics,BOS,False,28.6,3.0,0.0,2.0,1.0,...,13.4,29.0,0.146,0.496,11.0,74.5,0.187,TD Garden,19156.0,19156.0
2,2024,NBA,Brooklyn Nets,BRK,False,26.9,1.0,2.0,2.0,1.0,...,14.1,26.4,0.198,0.552,8.6,81.5,0.178,Barclays Center,17931.0,17931.0
3,2024,NBA,Chicago Bulls,CHI,False,28.8,2.0,2.0,1.0,3.0,...,11.0,24.2,0.201,0.562,16.2,75.5,0.200,United Center,40924.0,20462.0
4,2024,NBA,Charlotte Hornets,CHO,False,25.0,1.0,2.0,1.0,2.0,...,13.3,22.5,0.237,0.528,14.0,74.6,0.265,Spectrum Center,46475.0,15492.0

## Team Totals

In [28]:
team_totals.head()

,season,lg,team,abbreviation,playoffs,g,mp,fg,fga,fg_percent,...,ft_percent,orb,drb,trb,ast,stl,blk,tov,pf,pts
0,2024,NBA,Atlanta Hawks,ATL,False,4.0,960.0,176.0,359.0,0.490,...,0.835,38.0,130.0,168.0,112.0,40.0,16.0,54.0,68.0,484.0
1,2024,NBA,Boston Celtics,BOS,False,3.0,720.0,133.0,274.0,0.485,...,0.769,38.0,114.0,152.0,69.0,24.0,23.0,46.0,62.0,353.0
2,2024,NBA,Brooklyn Nets,BRK,False,3.0,720.0,136.0,263.0,0.517,...,0.765,33.0,110.0,143.0,85.0,15.0,18.0,48.0,63.0,366.0
3,2024,NBA,Chicago Bulls,CHI,False,4.0,985.0,155.0,373.0,0.416,...,0.806,50.0,120.0,170.0,79.0,38.0,19.0,51.0,75.0,422.0
4,2024,NBA,Charlotte Hornets,CHO,False,3.0,720.0,123.0,270.0,0.456,...,0.800,31.0,100.0,131.0,87.0,26.0,15.0,47.0,67.0,336.0